################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/out/build/x64-Debug/Testing/Temporary
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes
/out/build/x64-Debug/CMakeFiles/rules.ninja
/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/vc140.pdb
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/Token.cpp.obj
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/Parser.cpp.obj
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/manifest.res
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/manifest.rc
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/main.cpp.obj
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/Lexer.cpp.obj
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/Interpreter.cpp.obj
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/intermediate.manifest
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir/embed.manifest
/out/build/x64-Debug/CMakeFiles/Clionprojects.dir
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2
/out/build/x64-Debug/CMakeFiles
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/Clionprojects.pdb
/out/build/x64-Debug/Clionprojects.ilk
/out/build/x64-Debug/Clionprojects.exe
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-65972111b21e4388dc41.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-Clionprojects-Debug-89446ce21a1fa0b04856.json
/out/build/x64-Debug/.cmake/api/v1/reply/index-2021-12-20T12-04-10-0566.json
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-833bbfade4cc5ff44965.json
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-b005b83965aa92274a90.json
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-8ab63d5b1c71f3bda595.json
/out/build/x64-Debug/.cmake/api/v1/reply
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug
/out/.vs/VSWorkspaceState.json
/out/.vs/slnx.sqlite
/out/.vs/ProjectSettings.json
/out/.vs/out/v16/Browse.VC.db
/out/.vs/out/v16/.suo
/out/.vs/out/v16
/out/.vs
/out
/.vs/VSWorkspaceState.json
/.vs/translator(float)/v16/Browse.VC.db
/.vs/translator(float)/v16/.suo
/.vs/translator(float)/v16
/.vs/translator/v16/ipch/AutoPCH/fef2a3028b4df147/INTERPRETER.ipch
/.vs/translator/v16/ipch/AutoPCH/fef2a3028b4df147
/.vs/translator/v16/ipch/AutoPCH/f8f3cf0e493b19f7/LEXER.ipch
/.vs/translator/v16/ipch/AutoPCH/f8f3cf0e493b19f7
/.vs/translator/v16/ipch/AutoPCH/f834aae666e428f8/LEXER.ipch
/.vs/translator/v16/ipch/AutoPCH/f834aae666e428f8
/.vs/translator/v16/ipch/AutoPCH/e8bc104b6b5156b7/PARSER.ipch
/.vs/translator/v16/ipch/AutoPCH/e8bc104b6b5156b7
/.vs/translator/v16/ipch/AutoPCH/e45e1205eee5e125/TOKEN.ipch
/.vs/translator/v16/ipch/AutoPCH/e45e1205eee5e125
/.vs/translator/v16/ipch/AutoPCH/c264f1113b319b53/MAIN.ipch
/.vs/translator/v16/ipch/AutoPCH/c264f1113b319b53
/.vs/translator/v16/ipch/AutoPCH/bf01a6a98f099de8/OPS.ipch
/.vs/translator/v16/ipch/AutoPCH/bf01a6a98f099de8
/.vs/translator/v16/ipch/AutoPCH/b142f570e915cb53/OPS.ipch
/.vs/translator/v16/ipch/AutoPCH/b142f570e915cb53
/.vs/translator/v16/ipch/AutoPCH/a6e227cfc210c964/MAIN.ipch
/.vs/translator/v16/ipch/AutoPCH/a6e227cfc210c964
/.vs/translator/v16/ipch/AutoPCH/a5ed50f83a53f276/INTERPRETER.ipch
/.vs/translator/v16/ipch/AutoPCH/a5ed50f83a53f276
/.vs/translator/v16/ipch/AutoPCH/a252eb03600981/LEXER.ipch
/.vs/translator/v16/ipch/AutoPCH/a252eb03600981
/.vs/translator/v16/ipch/AutoPCH/9fc77a8ea246a66/PARSER.ipch
/.vs/translator/v16/ipch/AutoPCH/9fc77a8ea246a66
/.vs/translator/v16/ipch/AutoPCH/9909bfbd238f842c/PARSER.ipch
/.vs/translator/v16/ipch/AutoPCH/9909bfbd238f842c
/.vs/translator/v16/ipch/AutoPCH/8b1dbc9c5e63f8dd/INTERPRETER.ipch
/.vs/translator/v16/ipch/AutoPCH/8b1dbc9c5e63f8dd
/.vs/translator/v16/ipch/AutoPCH/7814d3e09669b00e/PARSER.ipch
/.vs/translator/v16/ipch/AutoPCH/7814d3e09669b00e
/.vs/translator/v16/ipch/AutoPCH/72cf8cb6c385bb1a/TOKEN.ipch
/.vs/translator/v16/ipch/AutoPCH/72cf8cb6c385bb1a
/.vs/translator/v16/ipch/AutoPCH/560c408189dc72f/INTERPRETER.ipch
/.vs/translator/v16/ipch/AutoPCH/560c408189dc72f
/.vs/translator/v16/ipch/AutoPCH/55fb8d3707f350fd/PARSER.ipch
/.vs/translator/v16/ipch/AutoPCH/55fb8d3707f350fd
/.vs/translator/v16/ipch/AutoPCH/4d5ece4fb405201a/MAIN.ipch
/.vs/translator/v16/ipch/AutoPCH/4d5ece4fb405201a
/.vs/translator/v16/ipch/AutoPCH/4c00e3af349e5682/LEXER.ipch
/.vs/translator/v16/ipch/AutoPCH/4c00e3af349e5682
/.vs/translator/v16/ipch/AutoPCH/4bf9684ed6eab612/INTERPRETER.ipch
/.vs/translator/v16/ipch/AutoPCH/4bf9684ed6eab612
/.vs/translator/v16/ipch/AutoPCH/35b4a212ac2926ab/INTERPRETER.ipch
/.vs/translator/v16/ipch/AutoPCH/35b4a212ac2926ab
/.vs/translator/v16/ipch/AutoPCH/29b6b522ef60b1d4/INTERPRETER.ipch
/.vs/translator/v16/ipch/AutoPCH/29b6b522ef60b1d4
/.vs/translator/v16/ipch/AutoPCH
/.vs/translator/v16/Browse.VC.opendb
/.vs/translator/v16/Browse.VC.db-wal
/.vs/translator/v16/Browse.VC.db-shm
/.vs/translator/v16/Browse.VC.db
/.vs/translator/v16/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cmake.db
/.vs/CMake Overview
